<ion-header>
  <ion-navbar color="lightrecicla">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
        LIGHTRECICLA
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="conteudo" *ngIf="loaded">
    <ion-card>
      <ion-card-header>
        {{ usuario.nome }}, <br />bem-vindo de volta!
      </ion-card-header>
    </ion-card>

    <ion-card *ngIf="!evento_aberto">
      <ion-card-header color="danger">
        Nenhum evento selecionado!
      </ion-card-header>

      <ion-card-content *ngIf="eventos_abertos">
        <ion-item color="lighrecicla">Escolha um evento abaixo</ion-item> 
        <ion-list radio-group>
          <ion-item *ngFor="let evento of eventos_abertos">
            <ion-label>{{ evento.acao.nome }} - {{ evento.local.nome }}</ion-label>
            <ion-radio value={{evento.id}} color="lightrecicla" (click)="setEvento(evento.id)"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-card-content>
      
      <ion-item-divider></ion-item-divider>

      <ion-card-content *ngIf="eventos_fechados">
        <ion-item color="lighrecicla">Abra um evento abaixo</ion-item> 
        <ion-list radio-group>
          <ion-item *ngFor="let evento of eventos_fechados">
            <ion-label>{{ evento.acao.nome }} - {{ evento.local.nome }}</ion-label>
            <ion-radio value={{evento.id}} color="lightrecicla" (click)="setEvento(evento.id)"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <ion-card *ngIf="evento_aberto"> 
      <ion-card-header color="lightrecicla">
        Evento Selecionado
      </ion-card-header>
      <ion-item> {{ evento_aberto.acao.nome }} - {{ evento_aberto.local.nome }} </ion-item>
      <ion-row>
        <ion-col col-5> 
          <button ion-button icon-start color="danger" (click)="fecharEvento()">
            <ion-icon name="close-circle"></ion-icon>
            FECHAR
          </button>
        </ion-col>  

        <ion-col col-7> 
          <button ion-button icon-start color="lightrecicla" (click)="goParticipacao()">
            <ion-icon name="ios-git-compare"></ion-icon>
            PARTICIPANTES
          </button>
        </ion-col>  
      </ion-row>
    </ion-card>

  </div>
</ion-content>