<ion-header>
  <ion-navbar color="lightrecicla">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Realizada com Sucesso
        <ion-icon name="done-all" item-start></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-card>    
    <ion-item color="lightrecicla" text-center>
      <ion-icon name="paper-plane" item-start></ion-icon>
      ENVIO DE COMPROVANTES
    </ion-item>
    <ion-item>
      <ion-icon name="stats" item-start></ion-icon>
      CÓD: {{ reciclagem.codigo }}    
    </ion-item>
    
    <div id="infoReciclagem" *ngIf="reciclagem !== false">
      <ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        {{ reciclagem.participacao.contrato.nomeTitular }}    
      </ion-item>
      <ion-item>
        <ion-icon name="document" item-start></ion-icon>
        {{ reciclagem.participacao.contrato.numero }}
      </ion-item>
    </div>
    <ion-row>
      <ion-col col-6> 
        <button ion-button icon-start block outline color="lightrecicla" (click)="enviarRecibo('SMS')">
          <ion-icon name="phone-portrait"></ion-icon>
          SMS
        </button>
      </ion-col>
      <ion-col col-6> 
        <button ion-button icon-start block outline color="primary" (click)="enviarRecibo('EMAIL')">
          <ion-icon name="mail"></ion-icon>
          E-mail
        </button>
      </ion-col>  
    </ion-row>
  </ion-card>

  <ion-card *ngIf="campanhas !== false && showCampanhas !== false">
    <ion-item color="lightrecicla" text-center>
      <ion-icon name="megaphone" item-start></ion-icon>
      CAMPANHAS ATIVAS!
    </ion-item>
    <ion-row *ngFor="let campanha of campanhas">
      <ion-item>
        {{ campanha.nome }}
      </ion-item>
      <button ion-button icon-start block outline color="lightrecicla" (click)="participarCampanha(campanha.id)">
        <ion-icon name="person-add"></ion-icon>
        Participar
      </button>
    </ion-row>
  </ion-card>
    

  <button ion-button block color="lightrecicla" (click)="goToParticipacao()">
    <ion-icon name="return"></ion-icon>
    Voltar para pesquisa
  </button>
  
</ion-content>