<ion-header>
  <ion-navbar color="lightrecicla">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>    
    <ion-icon name="contacts" item-start></ion-icon>
    Procurar Participantes em
    <ion-item color="lightrecicla">{{ evento_aberto.acao.nome }} - {{ evento_aberto.local.nome }}</ion-item>
  </ion-card>
  
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"  placeholder="Nome ou NUC do Cliente"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="participacoes !== false">
    <ion-item *ngFor="let participante of participacoes">
        <ion-card>
          <ion-card-header>
            <ion-icon name="contact" item-start></ion-icon>
            {{participante.cliente.nome}}
          </ion-card-header>
          <ion-item>NUC: {{participante.contrato.numero}}</ion-item>
          
          <ion-row>
            <ion-col col-4 *ngFor="let button of buttons"> 
            <button ion-button icon-start color={{button.color}} (click)="buttonClicked(button, participante)">
              <ion-icon name={{button.icon}}></ion-icon>
              {{ button.nome }}
            </button>
            </ion-col>  
          </ion-row>
        </ion-card>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="!participacoes" text-center>
    <button ion-button icon-start color="lightrecicla" (click)="goTo('contratos', false)">
      <ion-icon name="app-person"></ion-icon>
      OU ADICIONAR UM NOVO
    </button>
  </ion-card>

</ion-content>
