<ion-header>
  <ion-navbar color="lightrecicla">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Participantes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

      <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"  placeholder="Nome ou NUC do Cliente"></ion-searchbar>
      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
      <div *ngIf="participacoes !== false">
        
        <ion-card *ngFor="let participante of participacoes">
          <ion-item>
            <ion-row>
              <ion-col col-12>
                <p>
                  <ion-icon name="contact" item-start></ion-icon>
                  {{participante.cliente.nome}}
                </p>
                <p>
                  <ion-icon name="contact" item-start></ion-icon>
                  NUC: {{participante.contrato.numero}}
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 *ngFor="let button of buttons"> 
                <button ion-button block icon-start class="histo" color={{button.color}} (click)="buttonClicked(button, participante)">
                  <ion-icon name={{button.icon}}></ion-icon>
                  {{ button.nome }}
                </button>
              </ion-col>  
            </ion-row>
          </ion-item>
        </ion-card>
      </div>
      
      <div *ngIf="!participacoes" text-center style="padding: 2%;">
        <button ion-button icon-start block color="lightrecicla" (click)="goTo('contratos', false)">
          <ion-icon name="app-person"></ion-icon>
          OU ADICIONAR UM NOVO
        </button>
      </div>
      
  </ion-content>
  
