<ion-header>
  <ion-navbar color="lightrecicla">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="loaded">
        Olá {{ usuario.nome }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-icon name="contacts" item-start></ion-icon>
        Pesquisar Contratos
    </ion-card-header>
  </ion-card>
  
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"  placeholder="Nome ou NUC do Cliente"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
  </div>
    
  <ion-list *ngIf="contratos !== false">
    <ion-item *ngFor="let contrato of contratos">
        <ion-card>
          <ion-card-header>
            <ion-icon name="contact" item-start></ion-icon>
            {{contrato.nomeTitular}}
          </ion-card-header>
          <ion-item>NUC: {{contrato.numero}}</ion-item>
          
          <ion-row>
            <ion-col col-6 *ngFor="let button of buttons"> 
            <button ion-button icon-start color={{button.color}} (click)="goToPage(button, contrato.id)">
              <ion-icon name={{button.icon}}></ion-icon>
              {{ button.nome }}
            </button>
            </ion-col>  
          </ion-row>
        </ion-card>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
      AVSI - Brasil [LOGO] & LightRecicla [LOGO]
  </ion-toolbar>
</ion-footer>