
<ion-header>
  <ion-navbar color="lightrecicla">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
        <ion-icon name="{{titleIcon}}" item-start></ion-icon>
        {{ title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="loaded">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-slides padding>
        <ion-slide>
          <ion-card>
            <ion-card-header>
                Dados Cadastrais
            </ion-card-header>
            
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked>NUC:</ion-label>
                  <ion-input type="number" pattern="[0-9]*" formControlName="numero"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked>Nome:</ion-label>
                  <ion-input type="text" [(ngModel)]="nomeTitular" (ionBlur)="nomeTitular = formatField('nomeTitular', nomeTitular)" formControlName="nomeTitular"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked>CPF:</ion-label>
                  <ion-input  [(ngModel)]="cpf_cnpj_titular" (ionBlur)="cpf_cnpj_titular = formatField('cpf_cnpj_titular', cpf_cnpj_titular)" formControlName="cpf_cnpj_titular" maxlength=14></ion-input>
                </ion-item>
              </ion-col>
              
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked>Nr do Medidor:</ion-label>
                  <ion-input type="number" formControlName="numeroMedidor"></ion-input>
                </ion-item>
              </ion-col>        

              <ion-col col-12>
                <ion-list radio-group formControlName="tensao">
                  <ion-item>
                    <ion-label>Tensão</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>110v</ion-label>
                    <ion-radio value="1" checked></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>220v</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-card>  
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-header>
              Endereço
            </ion-card-header> 
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked>CEP</ion-label>
                  <ion-input type="number" formControlName="cep"  maxlength="8" (keyup)="getEndereco($event)"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-12>
                <ion-item>
                  <ion-textarea formControlName="infoEndereco">
                  </ion-textarea>
                </ion-item>
              </ion-col>
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked>Logradouro</ion-label>
                  <ion-input type="text" formControlName="endereco"></ion-input>
                </ion-item>
              </ion-col>            
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked>Número</ion-label>
                  <ion-input type="text" formControlName="numeroEndereco"></ion-input>
                </ion-item>
              </ion-col>            
              
              <ion-col col-12>
                <ion-item>
                  <ion-label stacked>Complemento</ion-label>
                  <ion-input type="text" formControlName="complementoEndereco"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-slide>
          
        <ion-slide *ngIf="contratoId === undefined">
          <ion-card>
          <ion-card-header>
            Local de Cadastro
          </ion-card-header> 
          <ion-item>
            <ion-input type="text" formControlName="local_cadastro"></ion-input>
          </ion-item>
          <ion-list radio-group formControlName="como_conheceu">
            <ion-item>
              <ion-label stacked>Como Conheceu o Projeto?</ion-label>
            </ion-item>
            <ion-item>
              <ion-label stacked>MOBILIZADORA (LIGHTRECICLA)</ion-label>
              <ion-radio value="MOB'" checked color="lightrecicla"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label stacked>INDICAÇÃO</ion-label>
              <ion-radio value="IND" checked color="lightrecicla"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label stacked>MÍDIA</ion-label>
              <ion-radio value="MID" checked color="lightrecicla"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-row>
      <ion-col col-12>
        <button block ion-button type="submit" color="lightrecicla" [disabled]="!form.valid">
            <ion-icon name="person-add"></ion-icon>
            Salvar
        </button>
      </ion-col>
    </ion-row>
    <div class="swiper-button-next" (click)="slideNext()"></div>
    <div class="swiper-button-prev" (click)="slidePrev()"></div>
  </form>

</ion-content>