page-home {
    $toolbar-background: rgb(58, 138, 58);
    .scroll-content {
        background-color: map-get($colors, light);
    }
    ion-card-header {
        font-weight: bold;
    }
    ion-header {
        background-color: $toolbar-background;
    }
    
}

